$ORIGIN {{ zone.domain }}.
$TTL {{ ttl }}

@ IN  SOA  {{ zone.records.soa.ns }}. {{ zone.records.soa.email }}. (
	{{ max_lengths.get_padded("SOA", "Value", zone.records.soa.serial.as_str(), "") }} ; Serial (YYYYMMDDHHMM)
	{{ max_lengths.get_padded("SOA", "Value", zone.records.soa.refresh.as_str(), "") }} ; Refresh
	{{ max_lengths.get_padded("SOA", "Value", zone.records.soa.retry.as_str(), "") }} ; Retry
	{{ max_lengths.get_padded("SOA", "Value", zone.records.soa.expire.as_str(), "") }} ; Expire
	{{ max_lengths.get_padded("SOA", "Value", zone.records.soa.min_ttl.as_str(), "") }} ; Minimum TTL
)

{%- if !zone.records.ns.is_empty() %}

; === NS Records ====================================================
{%- for record in zone.records.ns %}
{{ max_lengths.get_padded("NS", "Name", record.name.as_str(), "") }} {{ max_lengths.get_padded("NS", "TTL", "", ttl_swap_filter.filter(record.ttl)) }} IN NS {{ max_lengths.get_padded("NS", "Value", record.value.as_str(), "") }}
{%- endfor %}
{%- endif %}

{%- if !zone.records.mx.is_empty() %}

; === MX Records ====================================================
{%- for record in zone.records.mx %}
{{ max_lengths.get_padded("MX", "Name", record.name.as_str(), "") }} {{ max_lengths.get_padded("MX", "TTL", "", ttl_swap_filter.filter(record.ttl)) }} IN MX {{ max_lengths.get_padded("MX", "Priority", record.priority.to_string().as_str(), "") }} {{ max_lengths.get_padded("MX", "Value", record.value.as_str(), "") }}
{%- endfor %}
{%- endif %}

{%- if !zone.records.a.is_empty() %}

; === A Records =====================================================
{%- for record in zone.records.a %}
{{ max_lengths.get_padded("A", "Name", record.name.as_str(), "") }} {{ max_lengths.get_padded("A", "TTL", "", ttl_swap_filter.filter(record.ttl)) }} IN A {{ max_lengths.get_padded("A", "Value", record.value.as_str(), "") }}
{%- endfor %}
{%- endif %}

{%- if !zone.records.aaaa.is_empty() %}

; === AAAA Records ==================================================
{%- for record in zone.records.aaaa %}
{{ max_lengths.get_padded("AAAA", "Name", record.name.as_str(), "") }} {{ max_lengths.get_padded("AAAA", "TTL", "", ttl_swap_filter.filter(record.ttl)) }} IN AAAA {{ max_lengths.get_padded("AAAA", "Value", record.value.as_str(), "") }}
{%- endfor %}
{%- endif %}

{%- if !zone.records.cname.is_empty() %}

; === CNAME Records =================================================
{%- for record in zone.records.cname %}
{{ max_lengths.get_padded("CNAME", "Name", record.name.as_str(), "") }} {{ max_lengths.get_padded("CNAME", "TTL", "", ttl_swap_filter.filter(record.ttl)) }} IN CNAME {{ max_lengths.get_padded("CNAME", "Value", record.value.as_str(), "") }}
{%- endfor %}
{%- endif %}

{%- if !zone.records.txt.is_empty() %}

; === TXT Records ===================================================
{%- for record in zone.records.txt %}
{{ max_lengths.get_padded("TXT", "Name", record.name.as_str(), "") }} {{ max_lengths.get_padded("TXT", "TTL", "", ttl_swap_filter.filter(record.ttl)) }} IN TXT {{ max_lengths.get_padded("TXT", "Value", record.value.as_str(), "") }}
{%- endfor %}
{%- endif %}

{%- if !zone.records.srv.is_empty() %}

; === SRV Records ===================================================
{%- for record in zone.records.srv %}
{{ max_lengths.get_padded("SRV", "Name", record.name.as_str(), "") }} {{ max_lengths.get_padded("SRV", "TTL", "", ttl_swap_filter.filter(record.ttl)) }} IN SRV {{ max_lengths.get_padded("SRV", "Priority", record.priority.to_string().as_str(), "") }} {{ max_lengths.get_padded("SRV", "Weight", record.weight.to_string().as_str(), "") }} {{ max_lengths.get_padded("SRV", "Port", record.port.to_string().as_str(), "") }} {{ max_lengths.get_padded("SRV", "Value", record.value.as_str(), "") }}
{%- endfor %}
{%- endif %}

{%- if !zone.records.ptr.is_empty() %}

; === PTR Records ===================================================
{%- for record in zone.records.ptr %}
{{ max_lengths.get_padded("PTR", "Name", record.name.as_str(), "") }} IN PTR {{ max_lengths.get_padded("PTR", "Value", record.value.as_str(), "") }}
{%- endfor %}
{%- endif %}